<%- include('../../common/header.html')-%>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="toolbar" id="kt_toolbar">
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
                    data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                    class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                        <%= title %>
                    </h1>
                </div>
            </div>
        </div>
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10" data-select2-id="select2-data-137-cfei">
                    <div class="card-footer border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
                        data-bs-target="#kt_footer_details" aria-expanded="true" aria-controls="kt_footer_details">
                        <div class="card-title m-0">
                            <h3 class="fw-bolder m-0">
                                <%= title %> Details
                            </h3>
                        </div>
                    </div>
                    <div id="kt_footer_details" class="collapse show" data-select2-id="select2-data-kt_footer_details">
                        <form id="footer_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework"
                            novalidate="novalidate" data-select2-id="select2-data-kt_footer_details_form" action="#">
                            <div class="card-body border-top p-9" data-select2-id="select2-data-136-0zbi">
                                
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Get In Touch Title</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="get_in_touch_title" id="get_in_touch_title"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="Get In Touch Title" value="">
                                    </div>
                                </div>
                                
                                <div class="row mb-6">
                                    <label class="required col-lg-4 col-form-label fw-bold fs-6">Contact Logo</label>
                                    <div class="col-lg-8">
                                        <div class="image-input image-input-outline image-input-empty"
                                            data-kt-image-input="true"
                                            style="background-image: url('assets/media/svg/avatars/blank.svg')">
                                            <div class="image-input-wrapper w-125px h-125px"
                                                style="background-image: none;">
                                                <img src="" id="image_preview1"
                                                    style="width: 125px; height: 125px; display: none;">
                                            </div>
                                            <label
                                                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                data-kt-image-input-action="change" data-bs-toggle="tooltip" title=""
                                                data-bs-original-title="Change image">
                                                <i class="bi bi-pencil-fill fs-7"></i>
                                                <input type="file" name="contact_image1" id="contact_image1"
                                                    accept=".png, .jpg, .jpeg, .svg">
                                                <input type="hidden" name="contact_image" id="contact_image" value="">
                                            </label>
                                        </div>
                                        <div class="form-text">Allowed file types: png, jpg, jpeg, svg.</div>
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Contact Mobile no</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="number" name="contact_mobile_no" id="contact_mobile_no"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="Contact Mobile no" value="">
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="required col-lg-4 col-form-label fw-bold fs-6">Footer Logo</label>
                                    <div class="col-lg-8">
                                        <div class="image-input image-input-outline image-input-empty"
                                            data-kt-image-input="true"
                                            style="background-image: url('assets/media/svg/avatars/blank.svg')">
                                            <div class="image-input-wrapper w-125px h-125px"
                                                style="background-image: none;">
                                                <img src="" id="image_preview2"
                                                    style="width: 125px; height: 125px; display: none;">
                                            </div>
                                            <label
                                                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                data-kt-image-input-action="change" data-bs-toggle="tooltip" title=""
                                                data-bs-original-title="Change image">
                                                <i class="bi bi-pencil-fill fs-7"></i>
                                                <input type="file" name="footer_logo1" id="footer_logo1"
                                                    accept=".png, .jpg, .jpeg, .svg">
                                                <input type="hidden" name="footer_logo" id="footer_logo" value="">
                                            </label>
                                        </div>
                                        <div class="form-text">Allowed file types: png, jpg, jpeg, svg.</div>
                                    </div>
                                </div>
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Footer Description</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="footer_description" id="footer_description"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="Footer Description" value="">
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Instagram URL</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="footer_instagram_url" id="footer_instagram_url"
                                            class="form-control form-control-lg form-control-solid" 
                                            placeholder="Instagram URL" value="">
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Facebook URL</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="footer_facebook_url" id="footer_facebook_url"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="Facebook URL" value="">
                                    </div>
                                </div>
                                
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">LinkedIn URL</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="footer_linkedin_url" id="footer_linkedin_url"
                                            class="form-control form-control-lg form-control-solid" 
                                            placeholder="LinkedIn URL" value="">
                                    </div>
                                </div>
                                
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Youtube URL</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="footer_youtube_url" id="footer_youtube_url"
                                            class="form-control form-control-lg form-control-solid" 
                                            placeholder="Youtube URL" value="">
                                    </div>
                                </div>

                                
                            </div>
                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                <button type="reset"
                                    class="btn btn-light btn-active-light-primary me-2">Discard</button>
                                <button type="submit" class="btn btn-primary" id="kt_footer_details_submit">Save
                                    Changes</button>
                            </div>
                            <!--end::Actions-->
                            <input type="hidden">
                            <div></div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Content-->
                </div>
            </div>
        </div>
    </div>
    <%- include('../../common/footer.html')-%>