<footer class="footer">
      <div class="footer-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 width-20">
              <div class="mb-10"><img src="assets/imgs/template/logo.svg" alt="iori"></div>
              <p class="font-md mb-20 color-grey-400">4517 Washington Ave.<br class="d-none d-lg-block">Manchester, Kentucky 39495</p>
              <div class="font-md mb-20 color-grey-400"><strong class="font-md-bold">Hours:</strong> 8:00 - 17:00, Mon - Sat</div>
              <h6 class="color-brand-1">Follow Us</h6>
              <div class="mt-15"><a class="icon-socials icon-facebook" href="#"></a><a class="icon-socials icon-instagram" href="#"></a><a class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-linkedin" href="#"></a><a class="icon-socials icon-youtube" href="#"></a></div>
            </div>
            <div class="col-lg-3 width-16 mb-30">
              <h5 class="mb-10 color-brand-1">About Us</h5>
              <ul class="menu-footer">
                <li><a href="about.html">Mission &amp; Vision</a></li>
                <li><a href="team.html">Our Team</a></li>
                <li><a href="career.html">Careers</a></li>
                <li><a href="#">Press &amp; Media</a></li>
                <li><a href="#">Advertising</a></li>
                <li><a href="#">Testimonials</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-16 mb-30">
              <h5 class="mb-10 color-brand-1">Ressources</h5>
              <ul class="menu-footer">
                <li><a href="#">Project managemen</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">News & Events</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Support</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-16 mb-30">
              <h5 class="mb-10 color-brand-1">We offer</h5>
              <ul class="menu-footer">
                <li><a href="#">Project  software</a></li>
                <li><a href="#">Resource  software</a></li>
                <li><a href="#">Workflow automation</a></li>
                <li><a href="#">Gantt chart makers</a></li>
                <li><a href="#">Project dashboards</a></li>
                <li><a href="#">Task  software</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-23">
              <h5 class="mb-10 color-brand-1">App &amp; Payment</h5>
              <div>
                <p class="font-sm color-grey-400">Download our Apps and get extra 15% Discount on your first Order…!</p>
                <div class="mt-20"><a class="mr-10" href="#"><img src="assets/imgs/template/appstore.png" alt="iori"></a><a href="#"><img src="assets/imgs/template/google-play.png" alt="iori"></a></div>
                <p class="font-sm color-grey-400 mt-20 mb-10">Secured Payment Gateways</p><img src="assets/imgs/template/payment-method.png" alt="iori">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-2">
        <div class="container">
          <div class="footer-bottom">
            <div class="row">
              <div class="col-lg-6 col-md-12 text-center text-lg-start">
                <ul class="menu-bottom">
                  <li><a class="font-sm color-grey-300" href="term-conditions.html">Privacy policy</a></li>
                  <li><a class="font-sm color-grey-300" href="term-conditions.html">Cookies</a></li>
                  <li><a class="font-sm color-grey-300" href="term-conditions.html">Terms of service</a></li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-12 text-center text-lg-end"><span class="color-grey-300 font-md">©Iori Official 2025. All right reversed.</span></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/waypoints.js"></script>
    <script src="assets/js/vendors/wow.js"></script>
    <script src="assets/js/vendors/magnific-popup.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/isotope.js"></script>
    <script src="assets/js/vendors/scrollup.js"></script>
    <script src="assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="assets/js/vendors/noUISlider.js"></script>
    <script src="assets/js/vendors/slider.js"></script>
    <script src="assets/js/vendors/counterup.js"></script>
    <script src="assets/js/vendors/jquery.countdown.min.js"></script>
    <script src="assets/js/vendors/jquery.elevatezoom.js"></script>
    <script src="assets/js/vendors/slick.js"></script>
    <script src="assets/js/vendors/gsap.min.js"></script>
    <script src="assets/js/main.js?v=6.0.0"></script>
    <script src="assets/js/ali-animation.js?v=1.0.0"></script>
  </body>
</html>