<%- include('../../common/header.html')-%>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="toolbar" id="kt_toolbar">
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
                    data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                    class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <a href="javascript:history.back();" class="me-4">
                          <i class="bi bi-arrow-left fs-2 text-dark"></i>
                    </a>
                    <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                        <%= title %>
                    </h1>
                </div>
            </div>
        </div>
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10" data-select2-id="select2-data-137-cfei">
                    <!-- <div class="card-footer border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
                        data-bs-target="#kt_footer_details" aria-expanded="true" aria-controls="kt_footer_details">
                        <div class="card-title m-0">
                            <a href="javascript:history.back();" class="me-4">
                                <i class="bi bi-arrow-left fs-2 text-dark"></i>
                            </a>
                            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                                <%= title %>
                            </h1>
                        </div>
                    </div> -->
                    <div id="kt_footer_details" class="collapse show" data-select2-id="select2-data-kt_footer_details">
                        <form id="coupon_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" action="#">
                            <div class="card-body border-top p-9">
                                <input type="hidden" name="Id" id="Id" value="" />
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label for="allPublisherDropdown" class="form-label fw-bold fs-6">All Publisher</label>
                                        <select class="form-select form-select-lg form-select-solid" id="allPublisherDropdown">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="mainCategoryDropdown" class="form-label fw-bold fs-6">All Category</label>
                                        <select class="form-select form-select-lg form-select-solid" id="mainCategoryDropdown">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label for="allRegionDropdown" class="form-label fw-bold fs-6">All Region</label>
                                        <select class="form-select form-select-lg form-select-solid" id="allRegionDropdown">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="allCountryDropdown" class="form-label fw-bold fs-6">All Country</label>
                                        <select class="form-select form-select-lg form-select-solid" id="allCountryDropdown">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold fs-6">Product Code From</label>
                                        <input type="text" class="form-control form-control-lg form-control-solid" id="product_code_from" name="product_code_from" placeholder="Product Code From">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold fs-6">Product Code To</label>
                                        <input type="text" class="form-control form-control-lg form-control-solid" id="product_code_to" name="product_code_to" placeholder="Product Code">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold fs-6">Single User Amount From</label>
                                        <input type="text" class="form-control form-control-lg form-control-solid" id="single_user_amount_from" name="single_user_amount_from" placeholder="Single User Amount From">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold fs-6">Single User Amount To</label>
                                        <input type="text" class="form-control form-control-lg form-control-solid" id="single_user_amount_to" name="single_user_amount_to" placeholder="Single User Amount To">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold fs-6">Publish Date From</label>
                                        <input type="date" class="form-control form-control-lg form-control-solid" id="product_date_start" name="product_date_start" placeholder="dd-mm-yyyy">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold fs-6">Publish Date To</label>
                                        <input type="date" class="form-control form-control-lg form-control-solid" id="product_date_end" name="product_date_end" placeholder="dd-mm-yyyy">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold fs-6">Coupon Name</label>
                                        <input type="text" class="form-control form-control-lg form-control-solid" id="coupon_name" name="coupon_name" placeholder="Coupon Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold fs-6">Coupon Type</label>
                                        <select name="coupon_type" id="coupon_type" class="form-select form-select-lg form-select-solid">
                                            <option value="">Select</option>
                                            <option value="1">With Login</option>
                                            <option value="2">First Login</option>
                                            <option value="3">Normal Login</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold fs-6">Type</label>
                                        <div class="d-flex align-items-center">
                                            <div class="form-check me-4">
                                                <input class="form-check-input" type="radio" id="type_cart_amount" name="type" value="Cart Amount">
                                                <label class="form-check-label" for="type_cart_amount">Cart Amount</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="type_percentage" name="type" value="Percentage">
                                                <label class="form-check-label" for="type_percentage">Percentage</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold fs-6">Value</label>
                                        <input type="number" class="form-control form-control-lg form-control-solid" id="value" name="value" placeholder="Value">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold fs-6">Expire Date</label>
                                        <input type="date" class="form-control form-control-lg form-control-solid" id="expire_date" name="expire_date" placeholder="dd-mm-yyyy">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold fs-6">Limit Prize</label>
                                        <input type="number" class="form-control form-control-lg form-control-solid" id="limit_value" name="limit_value" placeholder="Limit Prize">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold fs-6">License</label>
                                        <select name="license" id="license" class="form-select form-select-lg form-select-solid">
                                            <option value="">Select</option>
                                            <option value="1">Single User</option>
                                            <option value="2">Five User</option>
                                            <option value="3">EnterPrize</option>
                                            <option value="4">Global License</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label fw-bold fs-6">Show/Hide</label>
                                        <select name="show_hide" id="show_hide" class="form-select form-select-lg form-select-solid">
                                            <option value="">Select</option>
                                            <option value="1">Show</option>
                                            <option value="0">Hide</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
                                <button type="submit" class="btn btn-primary" id="kt_footer_details_submit">Save Changes</button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Content-->
                </div>
            </div>
        </div>
    </div>
<%- include('../../common/footer.html')-%>