<%- include('../common/header.html')-%>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <div class="toolbar" id="kt_toolbar">
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
      <div data-kt-swapper="true"
        data-kt-swapper-mode="prepend"
        data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
        class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
        <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
          Dashboard
        </h1>
      </div>
    </div>
  </div>
  <div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3><i class="fa fa-users fa-1x me-3"></i>Subscriber</h3>
              <br />
              <h1 class="md-3 text-success" id="subscriber">3544/5871</h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3><i class="fa fa-file fa-1x me-3"></i>Sample Request</h3>
              <br />
              <h1 class="md-3 text-success" id="sampleRequest">796/1717</h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3><i class="fa fa-shopping-cart fa-1x me-3"></i>Order</h3>
              <br />
              <h1 class="md-3 text-success" id="order">7/14</h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3><i class="fa fa-phone fa-1x me-3"></i>Contact</h3>
              <br />
              <h1 class="md-3 text-success" id="contact">41/194</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3><i class="fa fa-file-invoice-dollar fa-1x me-3"></i>Quotation</h3>
              <br />
              <h1 class="md-3 text-success" id="quotation">7/16</h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3><i class="fa fa-briefcase fa-1x me-3"></i>Job Inquiry</h3>
              <br />
              <h1 class="md-3 text-success" id="jobInquiry">2563/3636</h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3><i class="fa fa-file fa-1x me-3"></i>Service Form Record</h3>
              <br />
              <h1 class="md-3 text-success" id="serviceFormRecord">35/37</h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3><i class="fa fa-users fa-1x me-3"></i>Partner List</h3>
              <br />
              <h1 class="md-3 text-success" id="partnerList">4/13</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3><i class="fa fa-download fa-1x me-3"></i>BXPLORE Download</h3>
              <br />
              <h1 class="md-3 text-success" id="bxploreDownload">10/15</h1>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3>
                <i class="fa fa-envelope fa-1x me-3"></i>Email Lead Generation
              </h3>
              <br />
              <h1 class="md-3 text-success" id="emailLeadGeneration">4/4</h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3><i class="fa fa-bell fa-1x me-3"></i>Lead Request</h3>
              <br />
              <h1 class="md-3 text-success" id="leadRequest">5/6</h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-5">
            <div class="card-body">
              <h3><i class="fa fa-globe fa-1x me-3"></i>BXPLORE</h3>
              <br />
              <h1 class="md-3 text-success" id="bxplore">7/7</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../common/footer.html')-%>
