<%- include('../../common/header.html')-%>

	<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
		<div class="toolbar" id="kt_toolbar">
			<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
				<div data-kt-swapper="true" data-kt-swapper-mode="prepend"
					data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
					class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
					<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
						<%= title %>
					</h1>
					<span class="h-20px border-gray-300 border-start mx-4"></span>
					<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
						<li class="breadcrumb-item text-dark">Lists</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="post d-flex flex-column-fluid" id="kt_post">
			<div id="kt_content_container" class="container-xxl">
				<div class="row g-5 g-xl-8">
					<div class="col-xl-12">
						<div class="card card-xl-stretch mb-xl-8">
							<div class="card-header border-0 pt-5">
								<h3 class="card-title align-items-start flex-column">
									<span class="card-label fw-bolder text-dark">
										<%= title %>
									</span>
								</h3>
								<div class="row">
									<div class="col-3">
										<label for="contact_city" class="form-label">Select City</label>
                                        <select class="form-select" id="contact_city">
                                            <option >All</option>
                                            <option value="Surat">Surat</option>
                                            <option value="Rajkot">Rajkot</option>
                                            <option value="Vadodara">Vadodara</option>
                                            <option value="Valsad">Valsad</option>
                                        </select>
									</div>
									<div class="col-9">
										<div class="d-flex align-items-center" style="margin-top: 26px;">
											<!--begin::Input group-->
											<div class="position-relative w-md-400px me-md-2">
												<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
												<span
													class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
														viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546"
															height="2" rx="1" transform="rotate(45 17.0365 15.1223)"
															fill="black"></rect>
														<path
															d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
															fill="black"></path>
													</svg>
												</span>
												<!--end::Svg Icon-->
												<input type="text" class="form-control form-control-solid ps-10"
													id="search" name="search" value="" placeholder="Search">
											</div>
											<!--end::Input group-->
											<!--begin:Action-->
											<div class="d-flex align-items-center">
												<button type="button" onclick="pagination(1);"
													class="btn btn-primary me-5">Search</button>
											</div>
											<!--end:Action-->
										</div>
									</div>
								</div>
							</div>
							<div class="card-body pt-5">
								<div class="table-responsive">
									<table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
										<thead>
											<tr class="fw-bolder text-muted">
												<th class="min-w-150px">Sr No</th>
												<th class="min-w-150px">Name</th>
												<th class="min-w-150px">Email</th>
												<th class="min-w-150px">City</th>
												<th class="min-w-150px">Phone No</th>
												<th class="min-w-100px">Message</th>
											</tr>
										</thead>
										<tbody class="table-data">
											<tr>
												<td colspan="2">
													<span class="fw-bold d-block fs-7">Loading...</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="d-flex flex-stack flex-wrap pt-10">
									<div class="fs-6 fw-bold text-gray-700 pagination-text"></div>
									<ul class="pagination" id="pagination"></ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="reply-email" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered mw-850px">
			<div class="modal-content rounded">
				<div class="modal-header">
					<h2 class="popup-title">Send Email</h2>
					<div class="btn btn-sm btn-icon" data-bs-dismiss="modal">
						<span class="svg-icon svg-icon-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none">
								<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
									transform="rotate(-45 6 17.3137)" fill="black" />
								<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
									fill="black" />
							</svg>
						</span>
					</div>
				</div>

				<div class="modal-body scroll-y px-10 px-lg-15 pt-3 pb-10"> <!-- Added pt-3 for top padding -->
					<form class="mx-auto" id="kt_create_email_form">
						<!--begin::Step 2-->
						<!--begin::Wrapper-->
						<div class="w-100">

							<div id="individualForm" class="form-container">
								<!-- Individual form fields here -->
								<div class="row mb-3">
									<div class="col-sm-12">
										<label class="required" for="email_title">Email Title</label>
										<!-- Updated for attribute -->
										<input type="text" class="form-control form-control-solid"
											placeholder="Enter Email Title" id="email_title" required />
										<!-- Updated id attribute -->
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-sm-12">
										<label class="required" for="email_message">Email Message</label>
										<!-- Updated for attribute -->
										<textarea name="email_message" id="email_message"
											class="form-control form-control-lg form-control-solid" value=""
											rows="5"> </textarea>
									</div>
								</div>
								<!-- Add more individual form fields as needed -->
							</div>

						</div>

						<div class="row">
							<div class="col-sm-10"></div>
							<div class="col-sm-2">
								<button class="bill_pay_btn btn btn-lg btn-primary" id="send_email">Submit</button>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>


	</div>
	<%- include('../../common/footer.html')-%>