<%- include('../../common/header.html')-%>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="toolbar" id="kt_toolbar">
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
                    data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                    class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <a href="javascript:history.back();" class="me-4">
                          <i class="bi bi-arrow-left fs-2 text-dark"></i>
                    </a>
                    <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                        <%= title %>
                    </h1>
                </div>
            </div>
        </div>
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10" data-select2-id="select2-data-137-cfei">
                    <!-- <div class="card-footer border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
                        data-bs-target="#kt_footer_details" aria-expanded="true" aria-controls="kt_footer_details">
                        <div class="card-title m-0">
                            <a href="javascript:history.back();" class="me-4">
                                <i class="bi bi-arrow-left fs-2 text-dark"></i>
                            </a>
                            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                                <%= title %>
                            </h1>
                        </div>
                    </div> -->
                    <div id="kt_footer_details" class="collapse show" data-select2-id="select2-data-kt_footer_details">
                        <form id="member_form" class="form fv-plugins-bootstrap5 fv-plugins-framework"
                            novalidate="novalidate" data-select2-id="select2-data-kt_footer_details_form" action="#">
                            <div class="card-body border-top p-9" data-select2-id="select2-data-136-0zbi">

                            <input type="hidden" name="Id" id="Id" value="" />

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">First Name</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="f_name" id="f_name"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="First Name" value="">
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Last Name</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="l_name" id="l_name"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="Last Name" value="">
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Email</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="email" name="email" id="email"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="Email" value="">
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="required col-lg-4 col-form-label fw-bold fs-6">Image</label>
                                    <div class="col-lg-8">
                                        <div class="image-input image-input-outline image-input-empty"
                                            data-kt-image-input="true"
                                            style="background-image: url('assets/media/svg/avatars/blank.svg')">
                                            <div class="image-input-wrapper w-125px h-125px"
                                                style="background-image: none;">
                                                <img src="" id="image_preview"
                                                    style="width: 125px; height: 125px; display: none;">
                                            </div>
                                            <label
                                                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                data-kt-image-input-action="change" data-bs-toggle="tooltip" title=""
                                                data-bs-original-title="Change image">
                                                <i class="bi bi-pencil-fill fs-7"></i>
                                                <input type="file" name="image1" id="image1"
                                                    accept=".png, .jpg, .jpeg">
                                                <input type="hidden" name="image" id="image" value="">
                                            </label>
                                        </div>
                                        <div class="form-text">Allowed file types: png, jpg, jpeg, svg.</div>
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Mobile Number</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="number" name="mobile_number" id="mobile_number"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="Mobile Number" value="">
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">WhatsApp Number</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="number" name="whatsapp_number" id="whatsapp_number"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="WhatsApp Number" value="">
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Designation</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="designation" id="designation"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="Designation" value="">
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Calendly URL</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="calendly_url" id="calendly_url"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="Calendly URL" value="">
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Linkedin URL</label>
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="linkedin_url" id="linkedin_url"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="Linkedin URL" value="">
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Status</label>
                                    <div class="col-lg-8 fv-row">
                                        <select name="status" id="status" class="form-control form-control-lg form-control-solid">
                                            <option value="">Select</option>
                                            <option value="2">Pending</option>
                                            <option value="1">Complete</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Type</label>
                                    <div class="col-lg-8 fv-row">
                                        <select name="type" id="type" class="form-control form-control-lg form-control-solid">
                                            <option value="">Select</option>
                                            <option value="Sales">Sales</option>
                                            <option value="Analyst">Analyst</option>
                                            <option value="HR">HR</option>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                <button type="reset"
                                    class="btn btn-light btn-active-light-primary me-2">Discard</button>
                                <button type="submit" class="btn btn-primary" id="kt_footer_details_submit">Save
                                    Changes</button>
                            </div>
                            <!--end::Actions-->
                            <input type="hidden">
                            <div></div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Content-->
                </div>
            </div>
        </div>
    </div>
<%- include('../../common/footer.html')-%>