<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
	<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
		<!--begin::Copyright-->
		<div class="text-dark order-2 order-md-1">
			<span class="text-muted fw-bold me-1" id="footer-year"></span>
			<a href="#" target="_blank" class="text-gray-800 text-hover-primary"><b>Bonafide Research</b></a>
		</div>
	</div>
</div>
</div>
</div>
</div>

<div class="modal" id="forgotPasswordPopup" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content rounded">
			<div class="modal-header">
				<h2 class="popup-title">Password Details</h2>
				<div class="btn btn-sm btn-icon" data-bs-dismiss="modal">
					<span class="svg-icon svg-icon-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
								transform="rotate(-45 6 17.3137)" fill="black" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
								fill="black" />
						</svg>
					</span>
				</div>
			</div>

			<div class="modal-body">
				<form class="mx-auto" id="kt_create_account_form">
					<div>
						<div style="margin-bottom: 15px;">
							<label style="display: block; margin-bottom: 5px;">Enter Old Password:</label>
							<input class="form-control form-control-lg form-control-solid" type="password"
								id="oldPassword" placeholder="Old Password"
								style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;"
								autocomplete="old-password" required>
						</div>

						<div style="margin-bottom: 15px;">
							<label style="display: block; margin-bottom: 5px;">Enter New Password:</label>
							<input class="form-control form-control-lg form-control-solid" type="password"
								id="newPassword" placeholder="New Password"
								style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;"
								autocomplete="new-password" required>
						</div>

						<div style="margin-bottom: 15px;">
							<label style="display: block; margin-bottom: 5px;">Enter Confirm Password:</label>
							<input class="form-control form-control-lg form-control-solid" type="password"
								id="confirmPassword" placeholder="Confirm Password"
								style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;"
								autocomplete="confirm-password" required>
						</div>

						<div class="row mt-3">
							<div class="col-sm-6">
								<button type="submit" class="bill_pay_btn btn btn-lg btn-primary"
									id="forgotPasswordSubmit" style="width: 100%;">Submit</button>
							</div>
							<div class="col-sm-6">
								<button type="button" class="bill_pay_btn btn btn-lg btn-primary"
									id="cancelForgotPassword" style="width: 100%;">Cancel</button>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

<div class="modal" id="editProfilePopup" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content rounded">
			<div class="modal-header">
				<h2 class="popup-title">Edit Profile</h2>
				<div class="btn btn-sm btn-icon" data-bs-dismiss="modal">
					<span class="svg-icon svg-icon-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
								transform="rotate(-45 6 17.3137)" fill="black" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
								fill="black" />
						</svg>
					</span>
				</div>
			</div>

			<div class="modal-body">
				<form class="mx-auto" id="kt_create_account_form">
					<div>
						<div class="row mb-6">
							<!--begin::Label-->
							<!-- <label class="col-lg-4 col-form-label fw-bold fs-6">Profile Image</label> -->
							<!--end::Label-->
							<!--begin::Col-->
							<div class="col-lg-8">
								<!--begin::Image input-->
								<div class="image-input image-input-outline image-input-empty"
									data-kt-image-input="true">
									<img src="../../assets/media/svg/avatars/blank.svg"
									id="profile_img_admin_preview" style="width: 125px; height: 125px; border-radius: 10px;">
									<!-- style="background-image: url('../../assets/media/svg/avatars/blank.svg')"> -->
									<!--begin::Preview existing avatar-->
									<!-- <div class="image-input-wrapper w-125px h-125px" style="background-image: none; width:100% !important; height:100% !important"> -->
										<!-- Modified img tag to include dynamic/static image loading functionality -->
										<!-- <img src="../../assets/media/svg/avatars/blank.svg"
											id="profile_img_admin_preview" style="width: 125px; height: 125px; border-radius: 10px;">
									</div> -->
									<!--end::Preview existing avatar-->
									<!--begin::Label-->
									<label
										class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
										data-kt-image-input-action="change" data-bs-toggle="tooltip" title=""
										data-bs-original-title="Change image">
										<i class="bi bi-pencil-fill fs-7"></i>
										<!--begin::Inputs-->
										<input type="file" name="profile_img_admin1" id="profile_img_admin1"
											accept=".png, .jpg, .jpeg">
										<input type="hidden" name="profile_img_admin" id="profile_img_admin" value="">
										<!--end::Inputs-->
									</label>
									<!--end::Label-->
								</div>
								<!--end::Image input-->
								<!--begin::Hint-->
								<div class="form-text">Profile Image (png, jpg, jpeg, svg)</div>
								<!--end::Hint-->
							</div>
							<!--end::Col-->
						</div>

						<div style="margin-bottom: 15px;">
							<label style="display: block; margin-bottom: 5px;">Name:</label>
							<input class="form-control form-control-lg form-control-solid" type="text" id="adminName"
								style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;"
								required>
							<input type="hidden" name="adminId" id="adminId" value="" />
						</div>

						<div class="row mt-3">
							<div class="col-sm-6">
								<button type="submit" class="bill_pay_btn btn btn-lg btn-primary" id="editProfileSubmit"
									style="width: 100%;">Submit</button>
							</div>
							<div class="col-sm-6">
								<button type="button" class="bill_pay_btn btn btn-lg btn-primary"
									id="cancelEditProfilePopup" style="width: 100%;">Cancel</button>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

<script>
	var BASE_URL = "<%= config['BASE_URL'] %>";
</script>
<script src="https://cdnjs.com/libraries/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="<%= config['BASE_URL'] %>assets/js/scripts.bundle.js"></script>
<script src="<%= config['BASE_URL'] %>assets/plugins/global/plugins.bundle.js"></script>
<!-- Include intlTelInput plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<% if (script['available']==1) { %>
	<script src="<%= config['BASE_URL'] %>assets/js/script/<%= script['js'] %>.js"></script>
	<% } %>
		<script src="<%= config['BASE_URL'] %>assets/js/script/common.js"></script>
		<script>
			const lbl = document.getElementById("footer-year");
			lbl.textContent = new Date().getFullYear() + " © ";
		</script>